 <!-- Set up the connection between the Raspberry Pi and the Lidar -->

<launch>
    <arg name="port" default="/dev/ttyUSB1"/>
    <arg name="frame_id" default="lidar_frame"/>

    <include file="$(find lidar_driver)/launch/lidar_init.launch">
      <arg name="frame_id" value="$(arg frame_id)"/>
      <arg name="port" value="$(arg port)"/>
    </include>
</launch>