<launch>
    <!-- Arguments -->
    <arg name="map_file" default="$(find mecabot_navigation)/maps/mymap.yaml"/>
    <arg name="move_forward_only" default="true"/>

    <!-- Sensor init -->
    <include file="$(find mecabot_bringup)/launch/mecabot.launch"/>

    <!-- Map server -->
    <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

    <!-- AMCL -->
    <include file="$(find mecabot_navigation)/launch/amcl.launch"/>
    <!-- MCL -->
    <!-- <include file="$(find als_ros)/launch/mcl.launch"/> -->
    
</launch>
