<launch>
    <!-- Arguments -->
    <arg name="map_file" default="$(find mecabot_navigation)/maps/lab_map_final.yaml"/>
    <arg name="move_forward_only" default="true"/>

    <!-- Map server -->
    <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

    <!-- AMCL -->
    <!-- <include file="$(find mecabot_navigation)/launch/amcl.launch"/> -->
    <!-- MCL -->
    <include file="$(find als_ros)/launch/mcl.launch">
        <arg name="localization_hz" value="10"/>
    </include>

    <!-- Open rviz for visualization -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" if="$(arg use_rviz)"/>
    
</launch>